.modal .modal-content, .modal-header {
    border-radius: 0px !important;
}

.modal .modal-header {
    padding: 2px 16px 2px 16px !important;
}

.modal .modal-footer {
    padding: 5px 12px 5px 12px !important;
}

.modal .modal-footer .btn {
    border-radius: 0px;
}

